@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




<html>
    <head>

    </head>
    <body>
        <h1>Calculations </h1>



        <h3>Monthly Emi calculated is = @Model.MonthlyEmi INR</h3>
        <h3>Daily Emi calculated is = @Model.DailyEmi INR</h3>
        <h3>Continous Emi calculated is = @Model.ContinousEmi INR</h3>
    </body>
</html>